[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/narefev/hw24(1)
ExecStart=/home/narefev/hw24(1)/venv/bin/python -m gunicorn main:app -b 0.0.0.0:8080 -w 4

[Install]
WantedBy=multi-user.target